##
## File:   .gitignore
## Type:   Gitignore File
## Author: Will Brandon <dev.willbrandon@gmail.com>
## Date:   Mon, Jul 1, 2024
##
## Copyright (c) Will Brandon, 2024.
##
## Specifies patterns to ignore from Git version control.
##

############################################## JUNEAUX PACKAGE UNIVERSAL ###############################################
# Build
/.junbuild

# IDE metadata
.vscode
.idea

# macOS Metadata
.DS_Store
########################################################################################################################


######################################################## PYTHON ########################################################
# Python Caches, Builds, and Distributions
/build
/dist
__pycache__
*.egg-info
########################################################################################################################
